.modal {
    display: none;
    width: 50%;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: 1000;
    background: white;
    border: 1px dashed #aaa;
    box-shadow: 10px 10px 20px #aaa;
}



.new-game h1 {
    color: red;
}


.field {
    border: 5px solid #039;
    margin: 20px auto;
}

.row {
    display: flex;
}

.cell {
    width: 24px;
    height: 24px;
    border: 1px solid gray;

    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 23px;
}

.cell.closed {
    background-color: #eee;
    border: 3px outset #aaa;
    width: 20px;
    height: 20px;
}

.cell.open {
}

.cell.open-1:after {
    content: "1";
}
.cell.open-2:after {
    content: "2";
}
.cell.open-3:after {
    content: "3";
}
.cell.open-4:after {
    content: "4";
}
.cell.open-5:after {
    content: "5";
}
.cell.open-6:after {
    content: "6";
}
.cell.open-7:after {
    content: "7";
}
.cell.open-8:after {
    content: "8";
}

.cell.flagged {
    background-color: #eee;
    border: 3px outset #aaa;
    width: 20px;
    height: 20px;
}
.cell.flagged:after {
    content: "F";
    color: red;
}

.cell.exploded {
    background-color: #f00;
    color: #ff0;
}



.counter {
    width: 100px; height: 30px;
    padding: 5px 5px 15px 5px;
    background: #333; color: #9f9;
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    position: relative;
}
.counter.counter-moves {

}
.counter.counter-moves:after {
    content: "ходов";
    position: absolute;
    width: 100px;
    padding: 1px 5px;
    background: #444;
    font-size: 11px;
    display: block;
    bottom: 0px; left: 0px;
}

.counter.counter-game-dur {

}
.counter.counter-game-dur:after {
    content: "сек";
    position: absolute;
    width: 100px;
    padding: 1px 5px;
    background: #444;
    font-size: 11px;
    display: block;
    bottom: 0px; left: 0px;
}

.counter.counter-flags {

}
.counter.counter-flags:after {
    content: "флагов";
    position: absolute;
    width: 100px;
    padding: 1px 5px;
    background: #444;
    font-size: 11px;
    display: block;
    bottom: 0px; left: 0px;
}
